-
	var list = [
		{
			text: 'Задвижка фланцевая с обрезиненым клином',
		},
		{
			text: 'Фланцевые соединения в соответствии с ГОСТ 12820/12821 PN10/16 и A-150'
		},
		{
			text: 'Строительная длина в соответствии с DIN 3202 - F4/F5, ANSI B16.10'
		},
		{
			text: 'Легко регулируеться расход'
		},
		{
			text: 'Эпоксидное покрытие'
		},
		{
			text: 'Внешний указатель положения'
		},
		{
			text: 'По запросу возможно изготовление деталей задвижки из различный материалов'
		}]


-
	var list2 = [
		{
			text: 'Запирающее устройство, ограничитель хода и Greaser. Подшипники, которые облегчают открытие и закрытие клапана.',
		},
		{
			text: 'Фланцевые поверхности с отделкой согласно EN 1092, высококачественный чугун с сертификатом EN 10204 3.1.'
		},
		{
			text: 'Капот с очень прочной конструкцией моста и индикатором открытия с торсионным замком.'
		}]

mixin doc
	ul.product-be-content__text
		each item, index in list
			li.product-be-content__item
				span
					|-
				p=item.text


mixin doc2
	ul.product-ba-content__text
		each item, index in list2
			li.product-ba-content__item
				span
					|-
				p=item.text