.popup
	.popup__layer
		#tel-popup.zoom-anim-dialog.mfp-with-anim.mfp-hide.read-dialog.popup-window 
			.center
				.f-container
					select#phone-select.phone-select(name='phone-select')
						option(value='tel:+380676327873') 
							|+38 (067) 632 78 73
						option(value='tel:+380952024144')
							|+38 (095) 202 41 44
						option(value='tel:+380637206773')
							|+38 (063) 720 67 73
					.popup-links-block
						.mfp-close.popup-link__reject
							|Отменить
						a.popup-link__call(href='tel:+79037788894')
							|Вызвать
		#thanks-popup.zoom-anim-dialog.mfp-with-anim.mfp-hide.thanks-dialog.popup-window 
			.center
				h2.h2-title_l
					|Спасибо, Ваша заявка отправлена!
		#callback-popup.zoom-anim-dialog.mfp-with-anim.mfp-hide.thanks-dialog.popup-window 
			.center
				h2.h2-title_l
					|Отправьте ваши контакты
				p.popup-description
					|С вами свяжеться специалист и ответит на все вопросы
				.f-container
					form#callback__form.callback__form(method="POST" action="javascript:void(null)")
						input(type="hidden" name="subject" value="Форма обратного звонка")
						.form-group
							input(type="text" placeholder="Ваше имя" required name="name" class="text-field")
						.form-group
							input.phone-mask(type="tel" placeholder="Ваш телефон" required name="phone" class="text-field")
						button(type='submit').main-btn.callback-btn
							|Отправить
		#restoration-popup.zoom-anim-dialog.mfp-with-anim.mfp-hide.restoration-popup.popup-window 
			.center
				.f-container
					article.text__content
						h1.h1-title
							|Восстановление тренажеров: беговые дорожки, орбитреки, силовые тренажеры и др.
						p.text__paragraph
							|На протяжении 5 лет компания Proffitness занимает лидирующие позиции в сфере восстановления и продажи б/у тренажеров из Европы. Все потому что мы отработали процесс реставрации на столько, что тренажер по его работоспособности не отличить от нового.
						p.text__paragraph
							|Особенно это важно для тренажеров с интенсивной коммерческой нагрузкой, так как качество и биомеханика особенно проявляют себя в период жесткой эксплуатации.
						p.text__paragraph
							|Каких результатов помогает достичь восстановление тренажера?
						ul.text__unordered-list
							li.text__unordered-list-item
								i.text__icon
									+svg2('system')
								p.text__unordered-list-paragraph
									|На 100% восстанавливается функциональность тренажера.
							li.text__unordered-list-item
								i.text__icon
									+svg2('export')
								p.text__unordered-list-paragraph
									|Оборудование приобретает новый внешний вид, что можно адаптировать под корпоративный стиль клуба.
							li.text__unordered-list-item
								i.text__icon
									+svg2('dumbbell')
								p.text__unordered-list-paragraph
									|Увеличивается срок эксплуатации на 100%.
						p.text__paragraph
							|Компания дорожит своим именем и заслуженной репутацией, именно поэтому предоставляем сервис наивысшего уровня.
						h2.h2-title
							|Какие этапы включает процесс реставрации?
						p.text__paragraph
							|Процедура восстановления тренажера состоит из 7 этапов, которые включают ремонтные работы и тестирование отдельных функциональных единиц оборудования.
						ol.text__ordered-list
							li.text__ordered-list-item
								|Первоначальная проверка: тестирование монитора сердечного ритма, дисплей-консоли, особых возможностей и т.д.
							li.text__ordered-list-item
								|Проверка шумов: определение наличия нетипичных для оборудования шумов и звуков, обнаруженные недостатки устраняются ремонтом и заменой деталей.
							li.text__ordered-list-item
								|Этап разборки: проводится проверка на механические повреждения каждой детали.
							li.text__ordered-list-item
								|Замена деталей: всех, показатель которых достиг 25% и выше. При необходимости проводится замена цепей, шкивов, тросов и колес.
							li.text__ordered-list-item
								|Сборка тренажера: проводится в соответствии с заводскими спецификациями. Затем машина подвергается косметическому восстановлению.
							li.text__ordered-list-item
								|Внешняя реставрация: проводится пескоструйная обработка до оригинальной стали, заменяются все пластиковые, резиновые, виниловые и др. элементы.
							li.text__ordered-list-item
								|Финальная проверка: тестируется каждая деталь и функция, проводится стресс-тест.
						p.text__paragraph
							|Такой подход к реставрации тренажеров любого назначения возвращает его в состояние нового на 99,9%. При этом мы на 100% гарантируем его функциональность, работоспособность и надежность в работе.
		#warranty-popup.zoom-anim-dialog.mfp-with-anim.mfp-hide.warranty-popup.popup-window 
			.center
				.f-container
					article.text__content
						h1.h1-title
							|Гарантийное обслуживание
						p.text__paragraph
							|За 5 лет успешной работы на рынке, мы имели опыт работы с тренажерами оборудованием для фитнеса брендов и производителей со всего мира. Получив колоссальный опыт в этой сфере, мы остановили свой выбор на продукции Technogym, Life Fitness, Precor, с которой работаем и по сегодня. Именно тренажерами данных торговых марок мы укомплектовываем все наши залы.
						p.text__paragraph
							|В погоне за качеством мы несем ответственность за результат нашей работы, поэтому предоставляем:
						ul.text__unordered-list
							li.text__unordered-list-item
								i.text__icon
									+svg2('warranty')
								p.text__unordered-list-paragraph
									|Гарантийное обслуживание
							li.text__unordered-list-item
								i.text__icon
									+svg2('warranty-1')
								p.text__unordered-list-paragraph
									|Послегарантийное обслуживание
							li.text__unordered-list-item
								i.text__icon
									+svg2('service')
								p.text__unordered-list-paragraph
									|Сервисное обслуживание
						p.text__paragraph
							|Абсолютно на все оборудование, представленное в нашем каталоге, предоставляется гарантия 12 месяцев, которую при необходимости или желании можно увеличить до 24 месяцев.
		#thanks-dialog.zoom-anim-dialog.mfp-hide.small-dialog
			.success-checkmark
				.check-icon
					span.icon-line.line-tip
					span.icon-line.line-long
					.icon-circle
					.icon-fix
			h2 Спасибо, Ваша заявка успешно отправлена!
		#error-dialog.zoom-anim-dialog.mfp-hide.small-dialog
			h2 При отправке возникла ошибка, поробуйте, пожалуйста, еще раз!