.about
	.about__layer.section__layer
		.center
			h2.h2-title_s.about__title
				span
					|О нас
			.f-container
				p.section-description.about__description
					|Proffitness - компания, что занимается продажей востановленных тренажеров 4-х мировых брендов: 
					strong
						|Technogym, Life Fitness, Precor, Apus Sports.
				p.section-description.about__description
					|Мы представлены на рынке Украины более 5 лет. За это время мы заработали репцтацию надежного и ответственного подрядчика, чем особенно дорожим. Именно поэтому 90% наших клиентов являются аостоянными, и обращаются к нам за инвентарем в случае малейшей необходимости.
				p.section-description.about__description
					|У нас представлен наибольший в стране ассортимент востаноыленных тренажеров перечисленных марок, это позволяет создавать индивидуальные решения для каждого зала: для домашнего использования, отелей, спортивных залов площадью более 1000м
					sup
						|2
				a(href="#callback-popup").about__btn.main-btn.popup-with-zoom-anim
					|Познакомиться

			//- .f-container
			//- 	.about__cards.gym-cards
			//- 		a(href="#").about__card.gym-card
			//- 			img(src="img/About/about1.png", alt="Gym").about__card-img.gym-card__img
			//- 			h3.about__card-name.gym-card__name
			//- 				|Все о тренировках в соревновательном и игровом формате
			//- 			.gym-card__hidden
			//- 				p.gym-card__hidden-text.about-card__hidden-text
			//- 					|Подробнее
			//- 				img(src="img/Gym/figure-gym.png", alt="").gym-card__hidden-img.about-card__hidden-img
			//- 		a(href="#").about__card.gym-card
			//- 			img(src="img/About/about2.png", alt="Gym").about__card-img.gym-card__img
			//- 			h3.about__card-name.gym-card__name
			//- 				|Тренажеры на свободных весах и их преимущества
			//- 			.gym-card__hidden
			//- 				p.gym-card__hidden-text.about-card__hidden-text
			//- 					|Подробнее
			//- 				img(src="img/Gym/figure-gym.png", alt="").gym-card__hidden-img.about-card__hidden-img
			//- 		a(href="#").about__card.gym-card
			//- 			img(src="img/About/about3.png", alt="Gym").about__card-img.gym-card__img
			//- 			h3.about__card-name.gym-card__name
			//- 				|Покупка тренажера - современное решение
			//- 			.gym-card__hidden
			//- 				p.gym-card__hidden-text.about-card__hidden-text
			//- 					|Подробнее
			//- 				img(src="img/Gym/figure-gym.png", alt="").gym-card__hidden-img.about-card__hidden-img
			//- 	.about__buttons
			//- 		a(href="#").about__btn.main-btn
			//- 			|Узнать больше
			//- 		a(href="#").about__btn2.main-btn
			//- 			|Все статьи
