.brands
    .brands__layer.section__layer
        .center
            h2.h2-title_l.brands__title
                |Мы предлагаем нашим клиентам только продукцию известных брендов
            .f-container
                .brands__wrap
                    a(href="#").brands__card 
                        img(src="img/precor.png", alt="Precor Logo")
                    a(href="#").brands__card
                        img(src="img/lifeFitness.png", alt="LifeFitness Logo")
                    a(href="#").brands__card
                        img(src="img/Technogym.png", alt="Technogym Logo")
                    a(href="#").brands__card
                        img(src="img/apus-sports.png", alt="ApusSports Logo")