.buy
    .buy__layer.section__layer
        .center
            h2.h2-title_s.buy__title
                span
                    |Причины купить восстановленый тренажер
            .f-container
                .buy__cards
                    .buy__card
                        .buy__card-content
                            i.buy__card-ico
                                +svg2('list')
                            h3.buy__card-title
                                |В 3-4 раза ниже стоимость
                        p.buy__card-text
                            |При этом вы получаете тренажер, не имеющий отличий от нового
                    .buy__card
                        .buy__card-content
                            i.buy__card-ico
                                +svg2('noise')
                            h3.buy__card-title
                                |Лучшие мировые производители
                        p.buy__card-text
                            |Качество даже Б/у тренажеров значительно выше новых тренажеров из Китая или Тайваня.
                    .buy__card
                        .buy__card-content
                            i.buy__card-ico
                                +svg2('wrench')
                            h3.buy__card-title
                                |24 месяца гарантия
                        p.buy__card-text
                            |Срок который превышает гарантию нового тренажера в 2 раза.
                    .buy__card
                        .buy__card-content
                            i.buy__card-ico
                                +svg2('cogwheel')
                            h3.buy__card-title
                                |Низкая стоимость запчастей
                        p.buy__card-text
                            |И их доставка и замена осуществляется в разы быстрее
                    .buy__card
                        .buy__card-content
                            i.buy__card-ico
                                +svg2('meeting-point')
                            h3.buy__card-title
                                |Тренажеры из клубов Европы
                        p.buy__card-text
                            |Имеют превосходное состояние и идеально подходят под электросеть 220V.
                    .buy__card
                        .buy__card-content
                            i.buy__card-ico
                                +svg2('stationary-bike')
                            h3.buy__card-title
                                |Меньшая потеря в случае продажи
                        p.buy__card-text
                            |Новые тренажеры за год теряют до 50% от первоначальной стоимости.