footer.footer
    .footer__layer.section__layer
        .center
            .f-container
                p.footer__text
                    |&copy; 2019 Proffitness - Все права защищены!
                .to-top
                    +svg2('UpCircle')