.offer
    .offer__layer.section__layer
        .center
            h2.h2-title_s.offer__title
                span
                    |Мы предлагаем
            p.section-description.offer__description
                |Оптовые поставки тренажерного оборудования, комплектуем тренажерные залы с нуля. В зависимости от площади помещения мы порекомендуем Вам как минимально необходимый комплект тренажеров для малого зала , так и оборудуем залы больших площадей.  
                br
            h2.h2-title_s.offer__title
                span
                    |Мы комплектовали такие залы как:
            .f-container
                .offer__cards.gym-cards
                    a(href="#").offer__card.gym-card
                        img(src="img/Gym/hazard-gym.png", alt="Hazard gym").offer__card-img.gym-card__img
                        .offer__card-content.gym-card__content
                            h3.offer__card-name.gym-card__name
                                |Hazard Sport Club
                            p.offer__card-desc.gym-card__desc
                                |Тренажерный зал и фитнесс-центр в г. Ивано-Франковск
                        .gym-card__hidden
                            p.gym-card__hidden-text.offer-card__hidden-text
                                |Подробнее
                            img(src="img/Gym/figure-gym.png", alt="").gym-card__hidden-img.offer-card__hidden-img
                    a(href="#").offer__card.gym-card
                        img(src="img/Gym/home-gym.png", alt="Home gym").offer__card-img.gym-card__img
                        .offer__card-content.gym-card__content
                            h3.offer__card-name.gym-card__name
                                |Домашние спортзалы
                            p.offer__card-desc.gym-card__desc
                                |Укомплектованные востановленными тренажерами
                        .gym-card__hidden
                            p.gym-card__hidden-text.offer-card__hidden-text
                                |Подробнее
                            img(src="img/Gym/figure-gym.png", alt="").gym-card__hidden-img.offer-card__hidden-img
                    a(href="#").offer__card.gym-card
                        img(src="img/Gym/gym.png", alt="Gym").offer__card-img.gym-card__img
                        .offer__card-content.gym-card__content
                            h3.offer__card-name.gym-card__name
                                |Gym
                            p.offer__card-desc.gym-card__desc
                                |Домашний спорт зал в г. ...
                        .gym-card__hidden
                            p.gym-card__hidden-text.offer-card__hidden-text
                                |Подробнее
                            img(src="img/Gym/figure-gym.png", alt="").gym-card__hidden-img.offer-card__hidden-img
                    a(href="#").offer__card.gym-card
                        img(src="img/Gym/metro-gym.png", alt="Metro gym").offer__card-img.gym-card__img
                        .offer__card-content.gym-card__content
                            h3.offer__card-name.gym-card__name
                                |Metro Gym
                            p.offer__card-desc.gym-card__desc
                                |Спортивный клуб физического совершенства в г. Киев
                        .gym-card__hidden
                            p.gym-card__hidden-text.offer-card__hidden-text
                                |Подробнее
                            img(src="img/Gym/figure-gym.png", alt="").gym-card__hidden-img.offer-card__hidden-img
                    a(href="#").offer__card.gym-card
                        img(src="img/Gym/avalon-gym.png", alt="Avalon gym").offer__card-img.gym-card__img
                        .offer__card-content.gym-card__content
                            h3.offer__card-name.gym-card__name
                                |Avalon Gym
                            p.offer__card-desc.gym-card__desc
                                |Спортивный зал в г. Ивано-Франковск
                        .gym-card__hidden
                            p.gym-card__hidden-text.offer-card__hidden-text
                                |Подробнее
                            img(src="img/Gym/figure-gym.png", alt="").gym-card__hidden-img.offer-card__hidden-img
                    a(href="#").offer__card.gym-card
                        img(src="img/Gym/caspian-gym.png", alt="Caspian gym").offer__card-img.gym-card__img
                        .offer__card-content.gym-card__content
                            h3.offer__card-name.gym-card__name
                                |Caspian Athletic
                            p.offer__card-desc.gym-card__desc
                                |Тренажерный зал и фитнем в г. Одесса
                        .gym-card__hidden
                            p.gym-card__hidden-text.offer-card__hidden-text
                                |Подробнее
                            img(src="img/Gym/figure-gym.png", alt="").gym-card__hidden-img.offer-card__hidden-img
                a(href="#callback-popup").offer__btn.main-btn.popup-with-zoom-anim
                    |Узнать подробнее у консультанта
