.preview
    .preview__layer.section__layer.main-preview__section
        .preview__slider
            .preview__slide
                .center
                    .preview__slide-wrap
                        img(src="img/header-simulator.png" alt="Simulator").preview__slide-img_left
                        .preview__slide-content
                            h2.preview__slide-title
                                |Востановленые тренажеры
                            ul.preview__slide-list
                                li.preview__slide-list-item
                                    |7 этапов реставрации
                                li.preview__slide-list-item
                                    |100% функциональность и производительность
                                li.preview__slide-list-item
                                    |Гарантия 24 месяца
                            a.main-btn.preview__slide-btn
                                |В каталог
                        //- img(src="img/header-sportwoman.png" alt="Sportswoman").preview__slide-img_right
            .preview__slide
                .center
                    .preview__slide-wrap
                        img(src="img/Main-slider/lifeFitness.png" alt="Simulator").preview__slide-img_left
                        .preview__slide-content
                            p.preview__slide-text
                                |Лучшие
                            h2.preview__slide-title
                                |Беговые дорожки
                            //- ul.preview__slide-list
                            //-     li.preview__slide-list-item
                            //-         |Мощность двигателя 6л.с.
                            //-     li.preview__slide-list-item
                            //-         |Диапазон скорости: от 0,4 до 18 км/час
                            //-     li.preview__slide-list-item
                            //-         |20 встроенных прогамм
                            a.main-btn.preview__slide-btn
                                |В каталог
                        //- img(src="img/header-sportwoman.png" alt="Sportswoman").preview__slide-img_right
            .preview__slide
                .center
                    .preview__slide-wrap
                        img(src="img/Main-slider/orbitrack.png" alt="Simulator").preview__slide-img_left
                        .preview__slide-content
                            p.preview__slide-text
                                |Лучшие
                            h2.preview__slide-title
                                |Орбитреки    
                                span
                                    |     по лучшим
                                    br
                                    |ценам
                            //- ul.preview__slide-list
                            //-     li.preview__slide-list-item
                            //-         |25 уровней нагрузки
                            //-     li.preview__slide-list-item
                            //-         |Электромагнитный тип нагрузки
                            //-     li.preview__slide-list-item
                            //-         |23 встроенных прогаммы
                            a.main-btn.preview__slide-btn
                                |В каталог
                        //- img(src="img/header-sportwoman.png" alt="Sportswoman").preview__slide-img_right

