.preview
    .preview__layer.section__layer
        .center
            .f-container
                .preview__slider
                    .preview__slide
                        //- img.preview__slide-img_r(src="img/header-figure_r.png", alt="Figure")
                        //- img.preview__slide-img_l(src="img/header-figure_l.png", alt="Figure")
                        .preview__slide-wrap
                            img(src="img/header-simulator.png" alt="Simulator").preview__slide-img_left
                            .preview__slide-content
                                h2.preview__slide-title
                                    |APUS SPORT
                                p.preview__slide-text
                                    |Надежность, простота, 
                                    br
                                    |лучшее соотношение цены и качества
                                a.main-btn.preview__slide-btn
                                    |Подробнее
                            img(src="img/header-sportwoman.png" alt="Sportswoman").preview__slide-img_right
                    .preview__slide
                        //- img.preview__slide-img_r(src="img/header-figure_r.png", alt="Figure")
                        //- img.preview__slide-img_l(src="img/header-figure_l.png", alt="Figure")
                        .preview__slide-wrap
                            img(src="img/header-simulator.png" alt="Simulator").preview__slide-img_left
                            .preview__slide-content
                                h2.preview__slide-title
                                    |APUS SPORT
                                p.preview__slide-text
                                    |Надежность, простота, 
                                    br
                                    |лучшее соотношение цены и качества
                                a.main-btn.preview__slide-btn
                                    |Подробнее
                            img(src="img/header-sportwoman.png" alt="Sportswoman").preview__slide-img_right
                    .preview__slide
                        //- img.preview__slide-img_r(src="img/header-figure_r.png", alt="Figure")
                        //- img.preview__slide-img_l(src="img/header-figure_l.png", alt="Figure")
                        .preview__slide-wrap
                            img(src="img/header-simulator.png" alt="Simulator").preview__slide-img_left
                            .preview__slide-content
                                h2.preview__slide-title
                                    |APUS SPORT
                                p.preview__slide-text
                                    |Надежность, простота, 
                                    br
                                    |лучшее соотношение цены и качества
                                a.main-btn.preview__slide-btn
                                    |Подробнее
                            img(src="img/header-sportwoman.png" alt="Sportswoman").preview__slide-img_right

