.pro
	.pro__layer.section__layer
		.center
			h2.h2-title_s.pro__title
				span
					|Виды и особенности тренажеров
			.f-container
				.pro__text
					p.pro__paragraph
						|Спортивные тренажеры являются лучшим способом максимально снизить вес, а также развить мускулатуру и укрепить все системы организма. Оборудование такого плана разделяется на две группы: кардиои силовые. Кардиотренажеры призваны давать аэробную нагрузку, тем самым сжигая лишние калории. Силовые действуют на отдельные группы мышц, формируя рельефную атлетическую фигуру.
				.pro__text
					img(src="img/Pro/pro1.png", alt="Simulator")
					p.pro__paragraph
						|К группе кардиотренажеров относятся эллиптические, гребные, вело, а также беговые дорожки.
						strong
							|Эллиптические 
						|являются самым безопасным для здоровья видом устройств. Призваны давать определенную нагрузку на все группы мышц, предохраняя суставы от любых повреждений. Подходят для широкой категории спортсменов и любителей спорта.
				.pro__text
					img(src="img/Pro/pro2.png", alt="Simulator")
					p.pro__paragraph
						|Следующим видом являются 
						strong
							|беговые дорожки. 
						|На мировом рынке спортивного инвентаря они занимают почетное первое место, поскольку подходят как для оснащения залов, так и для домашнего пользования. Особой популярностью пользуются тренажеры 
						a(href="#")
							|life fitness 
						|, которые зарекомендовали себя исключительно с положительной стороны. Беговые дорожки данного бренда удачно имитируют бег на улице, создавая при этом комплексную нагрузку на мышцы ног, грудного пояса и спины. Отличаются внушительными размерами, поэтому обычно устанавливаются в тренажерных залах.
				.pro__text
					img(src="img/Pro/pro3.png", alt="Simulator")
					p.pro__paragraph
						strong
							|Гребные тренажеры 
						|из группы кардио призваны в точности имитировать греблю на лодках. Благодаря занятию данным видом тренировок, удается максимально повысить выносливость всего организма, а также активировать процессы ускоренного обмена веществ. Тренажеры идеально подходят для спортсменов, а также могут использоваться обычными людьми, стремящимися поддерживать себя в отличной форме.
				.pro__text
					img(src="img/Pro/pro4.png", alt="Simulator")
					p.pro__paragraph
						strong
							|Велотренажеры 
						|не нуждаются в дополнительной рекламе, поскольку относятся к числу самых популярных и востребованных на сегодняшний день. Используются как дома, так и в профессиональных фитнесс-клубах. На мировом рынке зарекомендовали себя тренажеры 
						a(href="#")
							|technogym
						|, которые наиболее удачно и эффективно имитируют езду на велосипедах. Стоит отметить, что стоимость тренажеров является весьма демократичной, несмотря на всемирную известность бренда. Для дома 
						a(href="#")
							|technogym
						|тренажеры подойдут идеально.
				.pro__text
					img(src="img/Pro/pro5.png", alt="Simulator")
					p.pro__paragraph.first-paragraph
						|Еще одной категорией спортивного инвентаря являются 
						strong
							|силовые профессиональные тренажеры
						|, которые прорабатывают одну или несколько групп мышц одновременно. Весь спектр товаров данной группы классифицируется по назначению: 
						a(href="#")
							|для пресса
						|; 
						a(href="#")
							|для спины для груди
						|;
						a(href="#")
							|для ног
						|; 
						a(href="#")
							|для рук
						|; 
						a(href="#")
							|для плечевого пояса
						|.
					p.pro__paragraph
						|Силовые тренажеры из Европы позволяют быстро и максимально эффективно привести себя в идеальную физическую форму, заметно снизить вес. Оборудование подходит для проработки слабых мышц, а также общей коррекции фигуры. Предложения нашей компании. В электронном каталоге нашей компании в широком ассортименте представлены тренажеры для зала и дома. У нас вы можете приобрести оборудование известных мировых брендов по разумной цене с доставкой.
				.pro__text
					p.pro__paragraph.first-paragraph
						strong
							|Сотрудничество с нами
						|имеет целый ряд преимуществ. Во-первых, заказывая товары в нашей компании, вы можете сэкономить средства, поскольку снаряды поставляются напрямую из Европы, что позволяет снизить итоговую стоимость, предлагая каждому клиенту внушительную скидку.
					p.pro__paragraph.first-paragraph
						|Во-вторых, 
						strong
							|тренажеры б/у 
						|полностью реконструируются и реализуются исключительно в исправном, идеальном состоянии. В-третьих, мы предоставляем гарантию качества оборудования, которая составляет довольно длительный период времени. Также на выбор клиента представлены товары следующих производителей: 
				.pro__brands
					.brands__wrap
						a(href="#").brands__card 
							img(src="img/precor.png", alt="Precor Logo")
						a(href="#").brands__card
							img(src="img/lifeFitness.png", alt="LifeFitness Logo")
						a(href="#").brands__card
							img(src="img/Technogym.png", alt="Technogym Logo")
						a(href="#").brands__card
							img(src="img/apus-sports.png", alt="ApusSports Logo")
				.pro__text
					p.pro__paragraph
						|Каждый товар прошел сертификацию, полностью отвечает заявленному качеству и характеристикам производителя. Оборудование для фитнес-зала от нашей компании прослужит не одно десятилетие.
					