.service
    .service__layer.section__layer
        .center
            h2.h2-title_s.service__title
                span
                    |Услуги Proffitness
            .f-container
                .service__cards
                    .service__card
                        img.service__card-image(src="img/Service/service1.jpg", alt="")
                        .service__card-content
                            
                            h3.service__card-title
                                |Сервис
                            p.service__card-text
                                |При этом вы получаете тренажер, не имеющий отличий от нового
                    .service__card
                        img.service__card-image(src="img/Service/service2.jpg", alt="")
                        .service__card-content
                            
                            h3.service__card-title
                                |Кредит
                            p.service__card-text
                                |Качество даже Б/у тренажеров значительно выше новых тренажеров из Китая или Тайваня.
                    .service__card
                        img.service__card-image(src="img/Service/service3.jpg", alt="")
                        .service__card-content
                            
                            h3.service__card-title
                                |Гарантия
                            p.service__card-text
                                |Срок который превышает гарантию нового тренажера в 2 раза.
                    .service__card
                        img.service__card-image(src="img/Service/service4.jpg", alt="")
                        .service__card-content
                            
                            h3.service__card-title
                                |Консалтинг
                            p.service__card-text
                                |И их доставка и замена осуществляется в разы быстрее