.top
    .top__layer.section__layer
        .center
            h2.h2-title.top__title
                span
                    |Топ 
                span    
                    |продаж
            .f-container
                .top__filter-icon
                    +svg2('filter')
                .top__filters
                    ul.top__filters-list
                        +filter([['Велотренажер', 'velo', 'active'], ['Гребной тренажер', 'greb'], ['Оборудование для кроссфита', 'crossfit'], ['Скамья и стойки', 'bench'], ['Спин байк', 'spin'], ['Степпер','stepper'], ['Профессиональный орбитрек', 'orbitrek'], ['Силовой тренажер', 'strength']])
                        +filter([['Беговые дорожки', 'running'], ['Свободные веса', 'free'],['Фитнес и Аэробика', 'fitness'], ['Коврик для йоги', 'carpet']])
                .top__simulators
                    .top__simulator-card.velo.hidden-card
                        img.top__simulator-card-img(src="img/simulator1.jpg", alt="Running track")
                        h3.top__simulator-card-name
                            |Профессиональная Беговая Дорожка Life Fitness 95T ENGAGE
                        p.top__simulator-card-price
                            |2,500 &#8364;
                    .top__simulator-card.greb.hidden-card
                        img.top__simulator-card-img(src="img/simulator2.jpg", alt="Running track")
                        h3.top__simulator-card-name
                            |Профессиональная беговая дорожка Life Fitness Discover SI Elevation
                        p.top__simulator-card-price
                            |3,000 &#8364;
                    .top__simulator-card.velo.hidden-card
                        img.top__simulator-card-img(src="img/simulator3.jpg", alt="Running track")
                        h3.top__simulator-card-name
                            |Профессиональная беговая дорожка Precor TRM 885 Next Generation
                        p.top__simulator-card-price
                            |3,300 &#8364;
                    .top__simulator-card.greb.hidden-card
                        img.top__simulator-card-img(src="img/simulator1.jpg", alt="Running track")
                        h3.top__simulator-card-name
                            |Профессиональная Беговая Дорожка Life Fitness 95T ENGAGE
                        p.top__simulator-card-price
                            |2,500 &#8364;
                    .top__simulator-card.fitness.hidden-card
                        img.top__simulator-card-img(src="img/simulator2.jpg", alt="Running track")
                        h3.top__simulator-card-name
                            |Профессиональная беговая дорожка Life Fitness Discover SI Elevation
                        p.top__simulator-card-price
                            |3,000 &#8364;
                    .top__simulator-card.fitness.hidden-card
                        img.top__simulator-card-img(src="img/simulator3.jpg", alt="Running track")
                        h3.top__simulator-card-name
                            |Профессиональная беговая дорожка Precor TRM 885 Next Generation
                        p.top__simulator-card-price
                            |3,300 &#8364;
                    .top__simulator-card.greb.hidden-card
                        img.top__simulator-card-img(src="img/simulator1.jpg", alt="Running track")
                        h3.top__simulator-card-name
                            |Профессиональная Беговая Дорожка Life Fitness 95T ENGAGE
                        p.top__simulator-card-price
                            |2,500 &#8364;
                    .top__simulator-card.fitness.hidden-card
                        img.top__simulator-card-img(src="img/simulator2.jpg", alt="Running track")
                        h3.top__simulator-card-name
                            |Профессиональная беговая дорожка Life Fitness Discover SI Elevation
                        p.top__simulator-card-price
                            |3,000 &#8364;
                    .top__simulator-card.velo.hidden-card
                        img.top__simulator-card-img(src="img/simulator3.jpg", alt="Running track")
                        h3.top__simulator-card-name
                            |Профессиональная беговая дорожка Precor TRM 885 Next Generation
                        p.top__simulator-card-price
                            |3,300 &#8364;
                a(href="#").main-btn.top__btn
                    |Каталог товаров