.portfolio-tale
    .portfolio-tale__layer.section__layer
        .center
            .f-container
                ul.portfolio-tale__gallery
                    li.portfolio-tale__gallery-item.grid-item.grid-item--width2.grid-item--height2
                        .portfolio-tale__gallery-hover
                            i.portfolio-tale__gallery-ico
                                +svg2('eye')
                        a(href='img/Portfolio-single/IMG_3506-min.jpg' title='The Cleaner')
                            img(src='img/Portfolio-single/IMG_3506-min.jpg')
                    li.portfolio-tale__gallery-item.grid-item
                        .portfolio-tale__gallery-hover
                            i.portfolio-tale__gallery-ico
                                +svg2('eye')
                        a(href='img/Portfolio-single/IMG_3522-min-636x423.jpeg.pagespeed.ce.6l5mDfxJ8o.jpg' title='The Cleaner')
                            img(src='img/Portfolio-single/IMG_3522-min-636x423.jpeg.pagespeed.ce.6l5mDfxJ8o.jpg')
                    li.portfolio-tale__gallery-item.grid-item
                        .portfolio-tale__gallery-hover
                            i.portfolio-tale__gallery-ico
                                +svg2('eye')
                        a(href='img/Portfolio-single/IMG_3525-min-636x424.jpeg.pagespeed.ce.zbLpIU3_59.jpg' title='The Cleaner')
                            img(src='img/Portfolio-single/IMG_3525-min-636x424.jpeg.pagespeed.ce.zbLpIU3_59.jpg')
                    li.portfolio-tale__gallery-item.grid-item.grid-item--width2.grid-item--height2
                        .portfolio-tale__gallery-hover
                            i.portfolio-tale__gallery-ico
                                +svg2('eye')
                        a(href='img/Portfolio-single/IMG_3530-min-636x423.jpeg.pagespeed.ce.KEMEVy_ZcR.jpg' title='The Cleaner')
                            img(src='img/Portfolio-single/IMG_3530-min-636x423.jpeg.pagespeed.ce.KEMEVy_ZcR.jpg')
                    li.portfolio-tale__gallery-item.grid-item
                        .portfolio-tale__gallery-hover
                            i.portfolio-tale__gallery-ico
                                +svg2('eye')
                        a(href='img/Portfolio-single/IMG_3539-min-636x423.jpg' title='The Cleaner')
                            img(src='img/Portfolio-single/IMG_3539-min-636x423.jpg')
                    li.portfolio-tale__gallery-item.grid-item
                        .portfolio-tale__gallery-hover
                            i.portfolio-tale__gallery-ico
                                +svg2('eye')
                        a(href='img/Portfolio-single/IMG_3540-min-636x423.jpg' title='The Cleaner')
                            img(src='img/Portfolio-single/IMG_3540-min-636x423.jpg')
                    li.portfolio-tale__gallery-item.grid-item.grid-item--width2.grid-item--height2
                        .portfolio-tale__gallery-hover
                            i.portfolio-tale__gallery-ico
                                +svg2('eye')
                        a(href='img/Portfolio-single/IMG_3541-min-636x424.jpeg.pagespeed.ce.HD-cDqxAoK.jpg' title='The Cleaner')
                            img(src='img/Portfolio-single/IMG_3541-min-636x424.jpeg.pagespeed.ce.HD-cDqxAoK.jpg')
                    li.portfolio-tale__gallery-item.grid-item
                        .portfolio-tale__gallery-hover
                            i.portfolio-tale__gallery-ico
                                +svg2('eye')
                        a(href='img/Portfolio-single/IMG_3506-min.jpg' title='The Cleaner')
                            img(src='img/Portfolio-single/IMG_3506-min.jpg')
                    li.portfolio-tale__gallery-item.grid-item
                        .portfolio-tale__gallery-hover
                            i.portfolio-tale__gallery-ico
                                +svg2('eye')
                        a(href='img/Portfolio-single/IMG_3522-min-636x423.jpeg.pagespeed.ce.6l5mDfxJ8o.jpg' title='The Cleaner')
                            img(src='img/Portfolio-single/IMG_3522-min-636x423.jpeg.pagespeed.ce.6l5mDfxJ8o.jpg')
                    li.portfolio-tale__gallery-item.grid-item.grid-item--width2.grid-item--height2
                        .portfolio-tale__gallery-hover
                            i.portfolio-tale__gallery-ico
                                +svg2('eye')
                        a(href='img/Portfolio-single/IMG_3525-min-636x424.jpeg.pagespeed.ce.zbLpIU3_59.jpg' title='The Cleaner')
                            img(src='img/Portfolio-single/IMG_3525-min-636x424.jpeg.pagespeed.ce.zbLpIU3_59.jpg')
                    li.portfolio-tale__gallery-item.grid-item
                        .portfolio-tale__gallery-hover
                            i.portfolio-tale__gallery-ico
                                +svg2('eye')
                        a(href='img/Portfolio-single/IMG_3530-min-636x423.jpeg.pagespeed.ce.KEMEVy_ZcR.jpg' title='The Cleaner')
                            img(src='img/Portfolio-single/IMG_3530-min-636x423.jpeg.pagespeed.ce.KEMEVy_ZcR.jpg')
                    li.portfolio-tale__gallery-item.grid-item
                        .portfolio-tale__gallery-hover
                            i.portfolio-tale__gallery-ico
                                +svg2('eye')
                        a(href='img/Portfolio-single/IMG_3539-min-636x423.jpg' title='The Cleaner')
                            img(src='img/Portfolio-single/IMG_3539-min-636x423.jpg')
                    li.portfolio-tale__gallery-item.grid-item.grid-item--width2.grid-item--height2
                        .portfolio-tale__gallery-hover
                            i.portfolio-tale__gallery-ico
                                +svg2('eye')
                        a(href='img/Portfolio-single/IMG_3540-min-636x423.jpg' title='The Cleaner')
                            img(src='img/Portfolio-single/IMG_3540-min-636x423.jpg')
                    li.portfolio-tale__gallery-item.grid-item
                        .portfolio-tale__gallery-hover
                            i.portfolio-tale__gallery-ico
                                +svg2('eye')
                        a(href='img/Portfolio-single/IMG_3541-min-636x424.jpeg.pagespeed.ce.HD-cDqxAoK.jpg' title='The Cleaner')
                            img(src='img/Portfolio-single/IMG_3541-min-636x424.jpeg.pagespeed.ce.HD-cDqxAoK.jpg')