.preview_port_s
    .preview_port_s__layer.section__layer.preview__layer--
        .center
            .f-container
                .breadcrumbs
                    a(href="#").breadcrumb__item
                        |Главная
                    span
                        |-
                    a(href="#").breadcrumb__item
                        |Наши работы
                    span
                        |-
                    a(href="#").breadcrumb__item.active
                        |Hazard Sport Club
                h2.h2-title_m.preview_ca__title
                    |Hazard Sport Club
