.card_s
    .card_s__layer.section__layer
        .center
            .f-container
                .card_s__top
                    .card_s__preview-slider
                        .card_s__preview-slide.active
                            img(src="img/Single/1.png", alt="" )
                        .card_s__preview-slide
                            img(src="img/catalog/2.png", alt="")
                        .card_s__preview-slide
                            img(src="img/catalog/3.png", alt="")
                        .card_s__preview-slide
                            img(src="img/catalog/4.png", alt="")
                        .card_s__preview-slide
                            img(src="img/catalog/1.png", alt="")
                        .card_s__preview-slide
                            img(src="img/catalog/3.png", alt="")
                        .card_s__preview-slide
                            img(src="img/catalog/1.png", alt="")
                    .card_s__image
                        .card_s__image-slider
                            .card_s__image-slide
                                img(src="img/Single/1.png" alt="Running simulator" class="zoom" data-zoom="img/Single/1.png")
                            .card_s__image-slide
                                img(src="img/catalog/2.png" alt="Running simulator" class="zoom"  data-zoom="img/catalog/2.png")
                            .card_s__image-slide
                                img(src="img/catalog/3.png" alt="Running simulator" class="zoom"  data-zoom="img/catalog/3.png")
                            .card_s__image-slide
                                img(src="img/catalog/4.png" alt="Running simulator" class="zoom"  data-zoom="img/catalog/4.png")
                            .card_s__image-slide
                                img(src="img/catalog/1.png" alt="Running simulator" class="zoom"  data-zoom="img/catalog/1.png")
                            .card_s__image-slide
                                img(src="img/catalog/3.png" alt="Running simulator" class="zoom"  data-zoom="img/catalog/3.png")
                            .card_s__image-slide
                                img(src="img/catalog/1.png" alt="Running simulator" class="zoom"  data-zoom="img/catalog/1.png")
                    .cars_s__content
                        h3.card_s__name
                            |Профессиональная Беговая Дорожка Life Fitness 95T Engage
                        .card_s__info
                            .card_s__price
                                |2,500 €
                            .card_s__raiting(data-raiting="4")
                                    input(type="radio" id="raiting1" name="raiting")
                                    label(for="raiting1")
                                        +svg2('pointed-star')
                                
                                    input(type="radio" id="raiting2" name="raiting")
                                    label(for="raiting2")
                                        +svg2('pointed-star')
                               
                                    input(type="radio" id="raiting3" name="raiting")
                                    label(for="raiting3")
                                        +svg2('pointed-star')
                                
                                    input(type="radio" id="raiting4" name="raiting")
                                    label(for="raiting4")
                                        +svg2('pointed-star')
                                
                                    input(type="radio" id="raiting5" name="raiting")
                                    label(for="raiting5")
                                        +svg2('pointed-star')
                        p.card_s__text
                            |Беговая дорожка полностью восстановленная, перекрашенная (есть возможность, выбрать цвет), заменены все расходные материалы, новое качественное беговое полотно. 12 месяцев гарантии. Гарантийное и постгарантийное обслуживание. Позвони и получи скидку.
                        .card_s__btns
                            a.main-btn.card_s__btn(href="#")
                                |Реставрация
                            a.main-btn.card_s__btn(href="#")
                                |Гарантия
                            a.main-btn.card_s__btn.popup-with-zoom-anim(href="#callback-popup")
                                |Заказать
                        //- .card_s__phones
                        //-     .card_s__phone
                        //-         img(src="img/lifecell.png", alt="")
                        //-         a(href="tel:+380952024144").card_s__link
                        //-             |(063) 720 67 73 
                        //-     .card_s__phone
                        //-         +svg2('vodafone')
                        //-         a(href="tel:+380952024144").card_s__link
                        //-             |(095) 202 41 44
                        //-     .card_s__phone
                        //-         +svg2('kyivstar')
                        //-         a(href="tel:+380952024144").card_s__link
                        //-             |(067) 632 78 73
                .card_s__bottom
                    .card_s__tab-description
                        .card_s__description-left
                            .card_s__tab-descr
                                h3.card_s__tab-title
                                    |Описание
                                p.card_s__tab-text
                                    |Беговая дорожка премиум класса. Предназначена для интенсивного коммерческого использования. Оборудование Life fitness характеризуется выносливостью, а также простотой в использовании и в обслуживании. Эти беговые дорожки служат основой практически каждого фитнес клуба в мире. Независимо будет ли дорожка использоваться 24 часа в сутки либо 8 часов, будут ли на ней заниматься 100 клиентов в день или 1000 клиентов Вашего клуба, дорожка Life Fitness 95T Achieve выдерживает любые нагрузки за счет заложенного конструкторами и произвоителями необычайного запаса прочности на долгие годы.
                        .card_s__description-right
                            .card_s__tab-descr
                                h3.card_s__tab-title
                                    |Характеристики
                                ul.card_s__list
                                    li.card_s__list-item
                                        p.card_s__list-char
                                            |Длина:
                                        p.card_s__list-char-value
                                            |224 см
                                    li.card_s__list-item
                                        p.card_s__list-char
                                            |Ширина:
                                        p.card_s__list-char-value
                                            |89 см
                                    li.card_s__list-item
                                        p.card_s__list-char
                                            |Высота:
                                        p.card_s__list-char-value
                                            |163 см
                                    li.card_s__list-item
                                        p.card_s__list-char
                                            |Вес:
                                        p.card_s__list-char-value
                                            |231 кг
                                    li.card_s__list-item
                                        p.card_s__list-char
                                            |Двигатель:
                                        p.card_s__list-char-value
                                            |4 л/с.
                                    li.card_s__list-item
                                        p.card_s__list-char
                                            |Мин. скорость:
                                        p.card_s__list-char-value
                                            |1 км/ч
                                    li.card_s__list-item
                                        p.card_s__list-char
                                            |Макс. скорость:
                                        p.card_s__list-char-value
                                            |25,4 км/ч