.preview_s
    .preview_s__layer.section__layer
        .center
            .f-container
                .breadcrumbs
                    a(href="#").breadcrumb__item
                        |Главная
                    span
                        |-
                    a(href="#").breadcrumb__item
                        |Беговые дорожки
                    span
                        |-
                    a(href="#").breadcrumb__item
                        |Беговые дорожки Life fitness
                    span
                        |-
                    a(href="#").breadcrumb__item.active
                        |Профессиональная Беговая дорожка Life Fitness 95T Achieve
                h2.h2-title_m.preview_s__title
                    |Про&shy;фесси&shy;ональная Беговая дорожка Life Fitness 95T Achieve
