.same_s
    .same_s__layer.section__layer
        .center
            h2.h2-title.same_s__title
                span
                    |Похожие
                span    
                    |товары
            .f-container
                .top__simulators
                    .top__simulator-card.velo.same_s__simulator-card
                        img.top__simulator-card-img(src="img/simulator1.jpg", alt="Running track")
                        h3.top__simulator-card-name
                            |Профессиональная Беговая Дорожка Life Fitness 95T ENGAGE
                        p.top__simulator-card-price
                            |2,500 &#8364;
                    .top__simulator-card.greb.same_s__simulator-card
                        img.top__simulator-card-img(src="img/simulator2.jpg", alt="Running track")
                        h3.top__simulator-card-name
                            |Профессиональная беговая дорожка Life Fitness Discover SI Elevation
                        p.top__simulator-card-price
                            |3,000 &#8364;
                    .top__simulator-card.velo.same_s__simulator-card
                        img.top__simulator-card-img(src="img/simulator3.jpg", alt="Running track")
                        h3.top__simulator-card-name
                            |Профессиональная беговая дорожка Precor TRM 885 Next Generation
                        p.top__simulator-card-price
                            |3,300 &#8364;