.text.text__restoration
    .text__layer.text__restoration-layer
        .center
            .f-container
                article.text__content
                    h1.h1-title
                        |Восстановление тренажеров: беговые дорожки, орбитреки, силовые тренажеры и др.
                    p.text__paragraph
                        |На протяжении 5 лет компания Proffitness занимает лидирующие позиции в сфере восстановления и продажи б/у тренажеров из Европы. Все потому что мы отработали процесс реставрации на столько, что тренажер по его работоспособности не отличить от нового.
                    p.text__paragraph
                        |Особенно это важно для тренажеров с интенсивной коммерческой нагрузкой, так как качество и биомеханика особенно проявляют себя в период жесткой эксплуатации.
                    p.text__paragraph
                        |Каких результатов помогает достичь восстановление тренажера?
                    ul.text__unordered-list
                        li.text__unordered-list-item
                            i.text__icon
                                +svg2('way')
                            p.text__unordered-list-paragraph
                                |На 100% восстанавливается функциональность тренажера.
                        li.text__unordered-list-item
                            i.text__icon
                                +svg2('guarantee')
                            p.text__unordered-list-paragraph
                                |Оборудование приобретает новый внешний вид, что можно адаптировать под корпоративный стиль клуба.
                        li.text__unordered-list-item
                            i.text__icon
                                +svg2('delivery')
                            p.text__unordered-list-paragraph
                                |Увеличивается срок эксплуатации на 100%.
                    p.text__paragraph
                        |Компания дорожит своим именем и заслуженной репутацией, именно поэтому предоставляем сервис наивысшего уровня.
                    h2.h2-title
                        |Какие этапы включает процесс реставрации?
                    p.text__paragraph
                        |Процедура восстановления тренажера состоит из 7 этапов, которые включают ремонтные работы и тестирование отдельных функциональных единиц оборудования.
                    ol.text__ordered-list
                        li.text__ordered-list-item
                            |Первоначальная проверка: тестирование монитора сердечного ритма, дисплей-консоли, особых возможностей и т.д.
                        li.text__ordered-list-item
                            |Проверка шумов: определение наличия нетипичных для оборудования шумов и звуков, обнаруженные недостатки устраняются ремонтом и заменой деталей.
                        li.text__ordered-list-item
                            |Этап разборки: проводится проверка на механические повреждения каждой детали.
                        li.text__ordered-list-item
                            |Замена деталей: всех, показатель которых достиг 25% и выше. При необходимости проводится замена цепей, шкивов, тросов и колес.
                        li.text__ordered-list-item
                            |Сборка тренажера: проводится в соответствии с заводскими спецификациями. Затем машина подвергается косметическому восстановлению.
                        li.text__ordered-list-item
                            |Внешняя реставрация: проводится пескоструйная обработка до оригинальной стали, заменяются все пластиковые, резиновые, виниловые и др. элементы.
                        li.text__ordered-list-item
                            |Финальная проверка: тестируется каждая деталь и функция, проводится стресс-тест.
                    p.text__paragraph
                        |Такой подход к реставрации тренажеров любого назначения возвращает его в состояние нового на 99,9%. При этом мы на 100% гарантируем его функциональность, работоспособность и надежность в работе.
