.blog
    .blog__layer.section__layer
        .center
            .f-container
                ul.blog__tale
                    li.blog__tale-item
                        a.blog__tale-post(href="")
                            .blog__tale-img-wrap
                                img.blog__tale-img(src="img/About/about1.png", alt="")
                            .blog__tale-content
                                h3.blog__tale-title
                                    |Stretching with Apus Sports
                                p.blog__tale-preview
                                    |Stretching with Apus Sports Did you do the training. Do not forget to stretch. Check out our idea for stretching exercises, which should be an integral
                        a.blog__tale-btn.main-btn
                            |Подробнее
                    li.blog__tale-item
                        a.blog__tale-post(href="")
                            .blog__tale-img-wrap
                                img.blog__tale-img(src="img/About/about1.png", alt="")
                            .blog__tale-content
                                h3.blog__tale-title
                                    |Stretching with Apus Sports
                                p.blog__tale-preview
                                    |Stretching with Apus Sports Did you do the training. Do not forget to stretch. Check out our idea for stretching exercises, which should be an integral
                        a.blog__tale-btn.main-btn
                            |Подробнее
                    li.blog__tale-item
                        a.blog__tale-post(href="")
                            .blog__tale-img-wrap
                                img.blog__tale-img(src="img/About/about1.png", alt="")
                            .blog__tale-content
                                h3.blog__tale-title
                                    |Stretching with Apus Sports
                                p.blog__tale-preview
                                    |Stretching with Apus Sports Did you do the training. Do not forget to stretch. Check out our idea for stretching exercises, which should be an integral
                        a.blog__tale-btn.main-btn
                            |Подробнее
                    li.blog__tale-item
                        a.blog__tale-post(href="")
                            .blog__tale-img-wrap
                                img.blog__tale-img(src="img/About/about1.png", alt="")
                            .blog__tale-content
                                h3.blog__tale-title
                                    |Stretching with Apus Sports
                                p.blog__tale-preview
                                    |Stretching with Apus Sports Did you do the training. Do not forget to stretch. Check out our idea for stretching exercises, which should be an integral
                        a.blog__tale-btn.main-btn
                            |Подробнее
                    li.blog__tale-item
                        a.blog__tale-post(href="")
                            .blog__tale-img-wrap
                                img.blog__tale-img(src="img/About/about1.png", alt="")
                            .blog__tale-content
                                h3.blog__tale-title
                                    |Stretching with Apus Sports
                                p.blog__tale-preview
                                    |Stretching with Apus Sports Did you do the training. Do not forget to stretch. Check out our idea for stretching exercises, which should be an integral
                        a.blog__tale-btn.main-btn
                            |Подробнее
                    li.blog__tale-item
                        a.blog__tale-post(href="")
                            .blog__tale-img-wrap
                                img.blog__tale-img(src="img/About/about1.png", alt="")
                            .blog__tale-content
                                h3.blog__tale-title
                                    |Stretching with Apus Sports
                                p.blog__tale-preview
                                    |Stretching with Apus Sports Did you do the training. Do not forget to stretch. Check out our idea for stretching exercises, which should be an integral
                        a.blog__tale-btn.main-btn
                            |Подробнее