include mixins/mix_menu
include mixins/mix_social
include mixins/svg
include mixins/mix_phone
include mixins/mix-city
include mixins/mix_foo
include mixins/mix_catalog
include mixins/mixin_svg
include mixins/mix_offer
include mixins/mix_list
include mixins/menu-letter
include mixins/mix_letter2
include mixins/mix-filter