.preview_ca
    .preview_ca__layer.section__layer
        .center
            .f-container
                .breadcrumbs
                    a(href="#").breadcrumb__item
                        |Главная
                    span
                        |-
                    a(href="#").breadcrumb__item.active
                        |О компании
                h2.h2-title_m.preview_ca__title
                    |О компании Proffitness
