.text.text__about
    .text__layer.text__about-layer
        .center
            .f-container
                article.text__content
                    h1.h1-title
                        |Proffitness — интернет-магазин восстановленных профессиональных тренажеров
                    p.text__paragraph
                        |Ассортимент магазина включает кардио- и силовые тренажеры, а также фитнес-аксессуары мировых брендов: Technogym, Life Fitness, Precor, Apus Sports. Наибольший ассортимент оборудования в Украине позволяет найти решения для домашнего использования и для интенсивного использования в коммерческих тренажерных залах.
                    p.text__paragraph
                        |Компания представлена на рынке фитнес услуг и оборудования более 5 лет, за это нами было укомплектовано множество фитнес-центров и спортивных залов, с которыми сотрудничаем и сегодня.
                    p.text__paragraph
                        |Какие особенности интернет-магазина Proffitness?
                    ul.text__unordered-list
                        li.text__unordered-list-item
                            i.text__icon
                                +svg2('way')
                            p.text__unordered-list-paragraph
                                |Наибольший ассортимент в Украине. Тренажеры настроены таким образом, что подойдут для домашнего и для интенсивного коммерческого использования.
                        li.text__unordered-list-item
                            i.text__icon
                                +svg2('guarantee')
                            p.text__unordered-list-paragraph
                                |Гарантия 24 месяца. Стоимость которой уже включена в стоимость тренажера и не требует дополнительных вложений.
                        li.text__unordered-list-item
                            i.text__icon
                                +svg2('delivery')
                            p.text__unordered-list-paragraph
                                |Бесплатная доставка. При покупке 2-х и более тренажеров доставка бесплатно в любую точку страны.
                    p.text__paragraph
                        |Компания дорожит своим именем и заслуженной репутацией, именно поэтому предоставляем сервис наивысшего уровня.
                    h2.h2-title
                        |Почему мы рекомендуем выбрать восстановленный тренажер?
                    p.text__paragraph
                        |Тренажер, который прошел процедуру реставрацию не уступает своей производительностью и работоспособностью новому, при этом вы можете стилизовать тренажер в фирменном стиле вашего тренажерного зала, что будет выделять вас на фоне конкурентов.
                    ol.text__ordered-list
                        li.text__ordered-list-item
                            |Стоимость в 3-4 раза ниже без потери функциональности и качества работы тренажера.
                        li.text__ordered-list-item
                            |Прямая поставка тренажеров из клубов Европы.
                        li.text__ordered-list-item
                            |Без необходимости адаптировать тренажер под электросеть 220V.
                        li.text__ordered-list-item
                            |В 2 раза больше срок гарантийного обслуживания в сравнении с покупкой нового тренажера.
                        li.text__ordered-list-item
                            |Низкая стоимость и быстрая доставка и замена запчастей, в случае поломки.
                        li.text__ordered-list-item
                            |Значительно меньшая потеря при последующей продаже тренажера.
                    p.text__paragraph
                        |Реставрация любого тренажера проходит в 7 этапов, такой тщательный процесс позволяет восстановить функциональность и производительность оборудования на 100%, не жертвуя первоначальным качеством и надежностью.
