.text.text__delivery
    .text__layer.text__delivery-layer
        .center
            .f-container
                article.text__content
                    h1.h1-title
                        |Способы доставки
                    p.text__paragraph
                        |Оформить заказ в интернет-магазине Proffitness можно на сайте или по телефонам 
                        a(href="tel:+380952024144")
                            |+38(095)202-41-44
                        |, 
                        a(href="tel:+380637206773")
                            |+38(063)720-67-73
                        |, 
                        a(href="tel:+380676327873")
                            |+38(067)632-78-73 
                        |. Специалисты не только оформят ваш заказ, но и помогут с выбором наиболее подходящих тренажеров в соответствии с вашими целями и задачами.
                    p.text__paragraph
                        |Доставка осуществляется в любой регион Украины без ограничений:
                    ul.text__unordered-list
                        li.text__unordered-list-item
                            i.text__icon
                                +svg2('way')
                            p.text__unordered-list-paragraph
                                |доставка 24/7
                        li.text__unordered-list-item
                            i.text__icon
                                +svg2('guarantee')
                            p.text__unordered-list-paragraph
                                |без предоплаты за доставку
                        li.text__unordered-list-item
                            i.text__icon
                                +svg2('delivery')
                            p.text__unordered-list-paragraph
                                |бесплатно при заказе от 2-х тренажеров
                    p.text__paragraph
                        |Мы гарантируем вам целостность и сохранность оборудования, так как готовим и упаковываем тренажеры самостоятельно на нашем складе. Загрузка товара и фиксация в автомобилях для перевозки также осуществляется нашими специалистами, чтобы быть уверенными, что в пути не возникнет никаких происшествий с тренажером.
                    h2.h2-title
                        |Дополнительный сервис при доставке
                    p.text__paragraph
                        |В момент оформления заказа вы можете получить услугу со сборки, установки и настройки оборудования совершенно бесплатно.
                    p.text__paragraph
                        |В случае выбора данной услуги, вместе с тренажером выезжает команда специалистов, которые проводят все необходимые работы для успешной дальнейшей эксплуатации оборудования.
                    p.text__paragraph
                        |У вас возникли вопросы? Заполните форму ниже, и наш специалист с вами свяжется в ближайшее время и проконсультирует в полном объеме.
