.text.text__restoration
    .text__layer.text__restoration-layer
        .center
            .f-container
                article.text__content
                    h1.h1-title
                        |Оплата заказа
                    p.text__paragraph
                        |Сервис и качество обслуживания клиентов у компании Proffitness всегда стоит на первом месте, поскольку покупка тренажеры требует тщательного размышления в принятии решения, а также доставляет немало беспокойства в момент приобретения. Именно поэтому мы делаем все, чтобы покупка у нас была для клиентов наиболее комфортной.
                    p.text__paragraph
                        |Для вашего удобства вы можете оплатить свой заказ следующими способами:
                    ul.text__unordered-list
                        li.text__unordered-list-item
                            i.text__icon
                                +svg2('way')
                            p.text__unordered-list-paragraph
                                |По предоплате: осуществляется до отгрузки товара. 
                        li.text__unordered-list-item
                            i.text__icon
                                +svg2('guarantee')
                            p.text__unordered-list-paragraph
                                |В момент получения: наличными, перевод на карту онлайн или безналичный платеж на счет (для юридических лиц).
                        li.text__unordered-list-item
                            i.text__icon
                                +svg2('delivery')
                            p.text__unordered-list-paragraph
                                |Кредит.
                    p.text__paragraph
                        |При выборе оплаты при получении она проводится после получения товара на складе курьерской службы в Вашем городе, проверки его качества и работоспособности. Если вы выбрали доставку курьером, то — после сборки и настройки тренажера.
                    h2.h2-title
                        |Покупка б/у тренажера в кредит
                    p.text__paragraph
                        |Proffitness предоставляет уникальную на рынке услугу – покупка восстановленного б/у тренажера в кредит: с разбиением оплаты на несколько платежей. Как происходит процедура?
                    ol.text__ordered-list
                        li.text__ordered-list-item
                            |Вы оформляете заказ на сайте Proffitness и подтверждаете его с оператором после его звонка.
                        li.text__ordered-list-item
                            |Заполняете анкету на оформление кредита/рассрочки у банка-партнера.
                        li.text__ordered-list-item
                            |С вами связывается кредитный эксперт из банка и уточняет всю необходимую информацию после чего на протяжении дня вам сообщают решение: одобрено / не одобрено.
                        li.text__ordered-list-item
                            |В случае положительного ответа с вами повторно связывается наш специалист для согласования условий доставки заказа.
                    p.text__paragraph
                        |Вы получаете возможность не только приобрести качественное оборудование, но и сокращаете время комплектации вашего зала или клуба.
