.contact_c
    .contact_c__layer.section__layer
        .center
            .f-container
              .contact_c__left
                .contact_c__address
                  p.contact_c__address-title
                    i
                      +svg2('address')
                    |Рады Вас видеть по адресу:
                  p.contact_c__address-text
                    |Киев, ул. Михаила Максимовича 34
                .contact_c__phones
                  p.contact_c__phones-title
                    i
                      +svg2('smartphone')
                    |Телефоны:
                  .contact_c__phones-nums
                    a.contact_c__phone(href="tel:(050)368-15-95")
                      |(050) 368 15 95
                    a.contact_c__phone(href="tel:(096)501-72-90")
                      |(096) 501 72 90
                .contact_c__mail
                  p.contact_c__email-title
                    i
                      +svg2('email')
                    |E-mail:
                  a.contact_c__mail-text(href="mailto:office@proffitness.com.ua")
                    |office@proffitness.com.ua
              .contact_c__right
                form.contact_c__form#contact_c__form(method='POST' action="")
                  .form-group
                    input.text-field(type="text" placeholder="Ваше имя")
                  .form-group
                    input.text-field(type="tel" placeholder="Ваш телефон" required)
                  .form-group
                    input.text-field(type="email" placeholder="Ваш email")
                  .form-group
                    textarea.text-field(placeholder="Сообщение" rows="7")
                  button.main-btn.contact_c__btn
                    |Отправить

