.card_s__layer {
    .fPa(78%, 0%, 78px, 59px, 980px, 1920px);
    padding-bottom: 30px;
}

.card_s__raiting {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;
    max-width: 150px;

    input {
        display: none;
        -webkit-appearance: none;
        width: 0;
        height: 0;
    }

    label {
        svg {
            width: 28px;
            height: 28px;
            transition: all 0.25s;
        }
    }
    input:hover {
    & ~ label svg{
            fill: #ffe13c;
            cursor: pointer;
    }
    }

    input:checked{
        & ~ label svg {
            fill: #ffe13c;
        }
    }

    input:not(:checked):hover, input:checked:hover{
        & ~ label svg {
            fill: #ffe13c - 25;
        }
    }
}

.card_s__top {
    .flex(@align-items: flex-start);
    margin-bottom: 80px;

    .card_s__image {
        
        flex: 0 1 400/980 * 100%;
        margin-right: 35px;
        max-width: 400px;
        box-shadow: 0 0 5px rgba(@black, 0.2);
        img {
            // padding: 80px 0;
            min-width: 360px + 45px;
        }
    }

    .cars_s__content {
        padding-top: 10px;
        flex: 0 1 (980 - 555)/980 * 100%;
    }

    .card_s__preview-slider {
        flex: 0 1 20%;
        margin-right: 35px;
    }
}

.card_s__info {
    .flex(@justify-content: flex-start);
    margin-bottom: 30px;
}

.card_s__price {
    .fSize(48vw, 48px * (768/980), 48px, 768px, 980px);
    font-weight: 600;
    color: @main-color;
    margin-right: 60px;
    line-height: 1;
    white-space: nowrap;
}

.card_s__name {
    margin-bottom: 30px;
    .fSize(24vw, 24px * (768/980), 24px, 768px, 980px);
    font-weight: 600;
    color: @accent-color;
    line-height: 30/24;
}

.card_s__text {
    line-height: 36/16;
    margin-bottom: 35px;
}

.card_s__tabs {
    .flex(@justify-content: flex-start);
    
}

.card_s__tab {
    cursor: pointer;
    width: 100%;
    max-width: 217px;
    letter-spacing: 0rem;
    font-size: (12px/16px) * 1rem;
    line-height: 1;
    font-weight: 600;
    padding: 19px 28px;
    text-align: center;
    border: 1px solid #eee;
    color: @accent-color;
        &.active {
        background: radial-gradient(circle, #fc6719, #fc6314, #fc5e0f, #fc5908, #fc5402);
        width: 100%;
        max-width: 217px;
        letter-spacing: 0rem;
        font-size: (12px/16px) * 1rem;
        line-height: 1;
        font-weight: 600;
        padding: 19px 28px;
        text-align: center;
        color: @white;
        outline: none;
        border: 1px solid transparent;
        width: 100%;
        transition: all 0.25s ease;
        cursor: pointer;
        letter-spacing: 0.1px;

        &:focus {
        }

        &:hover {
            background: radial-gradient(circle, #fc6719 + 15, #fc6314 + 15, #fc5e0f + 15, #fc5908 + 15, #fc5402 + 15);
            box-shadow: 0px 0px 15px @main-color;
        }
    }
}

.card_s__tab-title {
    color: @main-color;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 0;
   
}
.card_s__tab-list {
    margin-bottom: 30px;
}
.card_s__tab-list-item {
    font-size: 13/16 * 1rem;
    color: @accent-color;
}
.card_s__tab-text {
    &:nth-child(2) {
        margin-bottom: 45px;
    }
    font-size: 13/16 * 1rem;
    line-height: 24/13;
    letter-spacing: -0.5px;
    color: @accent-color;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
   
    span {
        color: @main-color;
        font-size: 12/16 * 1rem;
        font-weight: 600;
    }
}

.card_s__tab-list-item {
    font-size: 13/16 * 1rem;
    line-height: 24/13;
    letter-spacing: -0.5px;
    color: @accent-color;
}

.card_s__tab-descr {
    box-shadow: 0 0 5px rgba(@black, 0.2);
    padding-top: 58px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 50px;
}

.card_s__phone {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 600;
    margin-bottom: 5px;
    
    .card_s__link {
        color: @accent-color;
        letter-spacing: -0.5px;
        transition: all 0.2s linear;
        &:hover {
            color: @font-color;
        }
    }
    
    svg {
        max-width: 31px;
        max-height: 31px;
        margin-right: 10px;
    }

    img {
        margin-right: 10px;
    }
}

.card_s__btn {
    margin-bottom: 30px;
}

.magnify > .magnify-lens {
   border-radius: unset;
   height: 300px;
   width: 250px;
   box-shadow: 0 0 0 4px rgba(255,255,255,.85), 0 0 4px 4px rgba(0,0,0,.25), inset 0 0 20px 2px rgba(0,0,0,.25);
  }


.card_s__preview-slider {
    width: 100%;
    max-width: 100%;

    .slick-slide.slick-current {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 2px solid @main-color;
        }
    } 
}

.card_s__image-slider {
    width: 100%;
    height: 100%;
}

.card_s__image-slide {
    position: relative;
    &:before {
        content: '';
        padding-top: 120%;
        display: block;
    }
}

.card_s__image-slide img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}