.buy_ca
	.buy_ca__layer.section__layer
		.center
			h2.h2-title_s.buy_ca__title
				span
					|Как купить беговую дорожку
			.f-container
				.buy_ca__text
					p.buy_ca__paragraph
						|Тренажер беговая дорожка является одним из самых востребованных спортивных устройств во всем мире.Она 		идеально подходит как для домашнего пользования, так и для оснащения фитнес-клуба или тренажерного зала. 
					p.buy_ca__paragraph
						|Особенность и базовое преимущество устройства заключается в том, что оно предоставляет возможность быстро привести себя в прекрасную физическую форму, подкорректировав фигуру. Максимально эффективно тренажер воздействует на организм, если параллельно используется силовое устройство. К числу преимуществ также относятся: повышение устойчивости организма; улучшение гибкости; развитие силы; избавление от лишнего веса. 
					p.buy_ca__paragraph
						|Купить беговую дорожку специалисты рекомендуют для общего укрепления организма, сердечно-сосудистой системы, повышения иммунитета. Стоит отметить, что стоимость тренажера является весьма демократичной. Если вы хотите приобрести устройство высокого качества, ознакомьтесь с каталогом товаров на сайте нашей компании. 
					img.buy_ca__image(src="img/Catalog/1.png", alt="Photo")
				.buy_ca__text
					p.buy_ca__paragraph
						|Беговая дорожка, купить которую предлагаем мы, произведена в Европе согласно международным стандартам и нормам. Устройство в полной мере отвечает заявленному качеству, характеристикам производителя. Беговая дорожка б/у полностью реконструирована, реализуется в исправном, идеальном состоянии. При покупке товаров нами предоставляется длительная гарантия. 
					p.buy_ca__paragraph
						|Разновидностей тренажеров такого плана существует огромное множество. Так, на мировом рынке спортивного оборудования представлены электрические, магнитные и механические беговые дорожки. Каждое устройство отличается целым рядом характеристик, которые стоит тщательно изучить перед покупкой. Безусловно, наибольшей популярностью пользуются электрические тренажеры. 
					img.buy_ca__image(src="img/Catalog/2.png", alt="Photo")
				.buy_ca__text
					p.buy_ca__paragraph
						|Особенности и преимущества электрических беговых дорожек. Главным отличием устройства от аналогичных товаров является более продуманная конструкция. Такой тренажер оснащен специальным электродвигателем, а также надежной и долговечной системой амортизации. Сложность бега, как и направление, легко регулируется с помощью нескольких нажатий кнопок на панели управления. 
					p.buy_ca__paragraph
						|Преимуществами функционала устройств являются: изменение угла наклона полотна; увеличение скорости или замедление бега; выбор оптимального режима тренировок. 
					p.buy_ca__paragraph
						|Тренажер идеально имитирует бег на улице, при этом вам не нужно считаться с погодными условиями и графиком занятий. Профессиональная беговая дорожка – неотъемлемый тренажер для оборудования фитнес-зала и выгодное вложение средств. 
					img.buy_ca__image(src="img/Catalog/3.png", alt="Photo")
				.buy_ca__text
					p.buy_ca__paragraph
						|Предложения нашей компании. Наша компания создана для профессиональных спортсменов, владельцев специализированных заведений, а также поклонников здорового образа жизни и движения. Мы предлагаем спортивное оборудование из Европы по доступным ценам и с быстрой доставкой по Украине.
					p.buy_ca__paragraph
						|По всем интересующим вопросам предоставляем профессиональные консультации тренеров и специалистов этой области. Тесно сотрудничаем с всемирно известными производителями. 
					p.buy_ca__paragraph
						|Обратившись в нашу компанию, вы получите развернутые ответы касательно любого спортивного оборудования, гарантию качества и долговечности устройств. Мы сумеем доказать, что беговая дорожка дешево может прослужить долгое время без необходимости ремонта или замены. 
					img.buy_ca__image(src="img/Catalog/4.png", alt="Photo")
				.buy_ca__text
					p.buy_ca__paragraph
						strong
							|Сотрудничество с нами 
						|имеет целый ряд преимуществ. Во-первых, заказывая товары в нашей компании, вы можете сэкономить средства, поскольку снаряды поставляются напрямую из Европы, что позволяет снизить итоговую стоимость, предлагая каждому клиенту внушительную скидку.
					p.buy_ca__paragraph
						|Во-вторых, 
						strong
							|тренажеры б/у 
						|полностью реконструируются и реализуются исключительно в исправном, идеальном состоянии. В-третьих, мы предоставляем гарантию качества оборудования, которая составляет довольно длительный период времени. Также на выбор клиента представлены товары следующих производителей:
					.buy_ca__brands
						.brands__wrap
							a(href="#").brands__card 
								img(src="img/precor.png", alt="Precor Logo")
							a(href="#").brands__card
								img(src="img/lifeFitness.png", alt="LifeFitness Logo")
							a(href="#").brands__card
								img(src="img/Technogym.png", alt="Technogym Logo")
							a(href="#").brands__card
								img(src="img/apus-sports.png", alt="ApusSports Logo")
					p.buy_ca__paragraph
						|Каждый товар прошел сертификацию, полностью отвечает заявленному качеству и характеристикам производителя. Оборудование для фитнес-зала от нашей компании прослужит не одно десятилетие.