.restoration
    .restoration__layer.section__layer
        .center
            h2.h2-title_s.restoration__title
                span
                    |7 этапов реставрации тренажеров
            .f-container
                .restoration__cards
                    .restoration__card
                        .restoration__card-content
                            i.restoration__card-ico
                                +svg2('list')
                            h3.restoration__card-title
                                |Начальная проверка
                        p.restoration__card-text
                            |У каждой машины тщательно тестируется монитор сердечного ритма, дисплей-консоль, особые возможности
                    .restoration__card
                        .restoration__card-content
                            i.restoration__card-ico
                                +svg2('noise')
                            h3.restoration__card-title
                                |Проверка шумов
                        p.restoration__card-text
                            |Тренажер проверяется на наличие необычных шумов и звуков. Обнаруженные недостатки системы ремонтируются или заменяются новыми деталями.
                    .restoration__card
                        .restoration__card-content
                            i.restoration__card-ico
                                +svg2('wrench')
                            h3.restoration__card-title
                                |Разборка
                        p.restoration__card-text
                            |Тренажер полностью разбирается, очищается и проверяется каждая деталь на наличие механических повреждений.
                    .restoration__card
                        .restoration__card-content
                            i.restoration__card-ico
                                +svg2('cogwheel')
                            h3.restoration__card-title
                                |Замена деталей
                        p.restoration__card-text
                            |Заменяются все механические части, показатель износа которых достигает 25%. Цепи, шкивы, тросы и колеса заменяются по необходимости.
                    .restoration__card
                        .restoration__card-content
                            i.restoration__card-ico
                                +svg2('meeting-point')
                            h3.restoration__card-title
                                |Повторная сборка
                        p.restoration__card-text
                            |Машина повторно собирается в соответствии с заводскими спецификациями и проводится косметическое восстановление.
                    .restoration__card
                        .restoration__card-content
                            i.restoration__card-ico
                                +svg2('stationary-bike')
                            h3.restoration__card-title
                                |Внешняя реставрация
                        p.restoration__card-text
                            |Тренажеры подвергаются песеоструйной обработке до оригинальной стали. Изношенные пластиковые, виниловые, резиновые и др. крышки заменяются.
                    .restoration__card
                        .restoration__card-content
                            i.restoration__card-ico
                                +svg2('booking')
                            h3.restoration__card-title
                                |Финальная проверка
                        p.restoration__card-text
                            |На последнем этапе процесса восстановления тренажер повторно проверяется и тестируется каждый элемент, что гарантирует качество.
                p.rectoration__text
                    |За счет восстановления достигается 
                    span
                        |100% функциональность, надежность и производительность.