.blog-single
    .blog-single__layer.section__layer
        .center
            .f-container
                article.blog-single__article
                    div
                        img(src="img/About/about1.png", alt="")
                    p
                        | Did you do the training. Do not forget to stretch. Check out our idea for stretching exercises, which should be an integral part of each workout.
                    p
                        |Stretching is performed by Kuba Orłowski, who trains  with Apus Sports.
                    p
                        |Stretching is performed by Kuba Orłowski, who trains  with Apus Sports.
                    p
                        | Did you do the training. Do not forget to stretch. Check out our idea for stretching exercises, which should be an integral part of each workout.
                    iframe(width='560' height='315' src='https://www.youtube.com/embed/EFqjDXy9s5A' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen='')
                    ol
                        li
                            |Stretching is performed by Kuba Orłowski, who trains with Apus Sports.
                        li
                            |Stretching is performed by Kuba Orłowski, who trains with Apus Sports.
                        li
                            |Stretching is performed by Kuba Orłowski, who trains with Apus Sports.
                        li
                            |Stretching is performed by Kuba Orłowski, who trains with Apus Sports.
                        li
                            |Stretching is performed by Kuba Orłowski, who trains with Apus Sports.
