.preview_blog
    .preview_blog__layer.section__layer.preview__layer--
        .center
            .f-container
                .breadcrumbs
                    a(href="#").breadcrumb__item
                        |Главная
                    span
                        |-
                    a(href="#").breadcrumb__item.active
                        |Cтатьи
                    span
                        |-
                    a(href="#").breadcrumb__item.active
                        |Stretching with Apus Sports
                h2.h2-title_m.preview_ca__title
                    |Stretching with Apus Sports
