.portfolio
    .portfolio__layer.section__layer
        .center
            .f-container
                .portfolio__cards.gym-cards
                    a(href="#").portfolio__card.gym-card
                        img(src="img/Gym/hazard-gym.png", alt="Hazard gym").portfolio__card-img.gym-card__img
                        .portfolio__card-content.gym-card__content
                            h3.portfolio__card-name.gym-card__name
                                |Hazard Sport Club
                            p.portfolio__card-desc.gym-card__desc
                                |Тренажерный зал и фитнесс-центр в г. Ивано-Франковск
                        .gym-card__hidden
                            p.gym-card__hidden-text.portfolio-card__hidden-text
                                |Подробнее
                            img(src="img/Gym/figure-gym.png", alt="").gym-card__hidden-img.portfolio-card__hidden-img
                    a(href="#").portfolio__card.gym-card
                        img(src="img/Gym/home-gym.png", alt="Home gym").portfolio__card-img.gym-card__img
                        .portfolio__card-content.gym-card__content
                            h3.portfolio__card-name.gym-card__name
                                |Домашние спортзалы
                            p.portfolio__card-desc.gym-card__desc
                                |Укомплектованные востановленными тренажерами
                        .gym-card__hidden
                            p.gym-card__hidden-text.portfolio-card__hidden-text
                                |Подробнее
                            img(src="img/Gym/figure-gym.png", alt="").gym-card__hidden-img.portfolio-card__hidden-img
                    a(href="#").portfolio__card.gym-card
                        img(src="img/Gym/gym.png", alt="Gym").portfolio__card-img.gym-card__img
                        .portfolio__card-content.gym-card__content
                            h3.portfolio__card-name.gym-card__name
                                |Gym
                            p.portfolio__card-desc.gym-card__desc
                                |Домашний спорт зал в г. ...
                        .gym-card__hidden
                            p.gym-card__hidden-text.portfolio-card__hidden-text
                                |Подробнее
                            img(src="img/Gym/figure-gym.png", alt="").gym-card__hidden-img.portfolio-card__hidden-img
                    a(href="#").portfolio__card.gym-card
                        img(src="img/Gym/metro-gym.png", alt="Metro gym").portfolio__card-img.gym-card__img
                        .portfolio__card-content.gym-card__content
                            h3.portfolio__card-name.gym-card__name
                                |Metro Gym
                            p.portfolio__card-desc.gym-card__desc
                                |Спортивный клуб физического совершенства в г. Киев
                        .gym-card__hidden
                            p.gym-card__hidden-text.portfolio-card__hidden-text
                                |Подробнее
                            img(src="img/Gym/figure-gym.png", alt="").gym-card__hidden-img.portfolio-card__hidden-img
                    a(href="#").portfolio__card.gym-card
                        img(src="img/Gym/avalon-gym.png", alt="Avalon gym").portfolio__card-img.gym-card__img
                        .portfolio__card-content.gym-card__content
                            h3.portfolio__card-name.gym-card__name
                                |Avalon Gym
                            p.portfolio__card-desc.gym-card__desc
                                |Спортивный зал в г. Ивано-Франковск
                        .gym-card__hidden
                            p.gym-card__hidden-text.portfolio-card__hidden-text
                                |Подробнее
                            img(src="img/Gym/figure-gym.png", alt="").gym-card__hidden-img.portfolio-card__hidden-img
                    a(href="#").portfolio__card.gym-card
                        img(src="img/Gym/caspian-gym.png", alt="Caspian gym").portfolio__card-img.gym-card__img
                        .portfolio__card-content.gym-card__content
                            h3.portfolio__card-name.gym-card__name
                                |Caspian Athletic
                            p.portfolio__card-desc.gym-card__desc
                                |Тренажерный зал и фитнем в г. Одесса
                        .gym-card__hidden
                            p.gym-card__hidden-text.portfolio-card__hidden-text
                                |Подробнее
                            img(src="img/Gym/figure-gym.png", alt="").gym-card__hidden-img.portfolio-card__hidden-img
