.text.text__restoration
    .text__layer.text__restoration-layer
        .center
            .f-container
                article.text__content
                    h1.h1-title
                        |Гарантийное обслуживание
                    p.text__paragraph
                        |За 5 лет успешной работы на рынке, мы имели опыт работы с тренажерами оборудованием для фитнеса брендов и производителей со всего мира. Получив колоссальный опыт в этой сфере, мы остановили свой выбор на продукции Technogym, Life Fitness, Precor, с которой работаем и по сегодня.  Именно тренажерами данных торговых марок мы укомплектовываем все наши залы.
                    p.text__paragraph
                        |В погоне за качеством мы несем ответственность за результат нашей работы, поэтому предоставляем:
                    ul.text__unordered-list
                        li.text__unordered-list-item
                            i.text__icon
                                +svg2('way')
                            p.text__unordered-list-paragraph
                                |Гарантийное обслуживание
                        li.text__unordered-list-item
                            i.text__icon
                                +svg2('guarantee')
                            p.text__unordered-list-paragraph
                                |Послегарантийное обслуживание
                        li.text__unordered-list-item
                            i.text__icon
                                +svg2('delivery')
                            p.text__unordered-list-paragraph
                                |Сервисное обслуживание
                    p.text__paragraph
                        |Абсолютно на все оборудование, представленное в нашем каталоге, предоставляется гарантия 12 месяцев, которую при необходимости или желании можно увеличить до 24 месяцев.
